body,
h1,
h2,
ul,
li,
p,
dd,
dt,
dl,
img,
html,
div {
  margin: 0px;
  padding: 0px;
}
body {
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
}
