body {
  min-height: 200vh;
}

header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  border-radius: 50px;
  width: 600px;
  height: 75px;
  margin: 20px auto;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

a {
  list-style: none;
  text-decoration: none;
}
header a {
  color: black;
  padding: 8px 16px;
  font-size: 1.25rem;
}
.navigation a {
  list-style: none;
  color: black;
  text-decoration: none;
  padding: 8px 16px;
}
.utilities {
  padding-right: 20px;
}
#logo {
  padding-left: 40px;
}

a:hover {
  color: blue;
}

.scrolled {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
