.about {
  padding: 96px 48px;
}

.about-container {
  max-width: 1280px;
  margin: 0 auto;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  align-items: center;
}

.title-block {
  text-align: center;
  margin-bottom: 64px;
}

h2 {
  position: relative;
  font-size: 3rem;
  font-weight: var(--font-bold);
  color: var(--color-text);
  margin-bottom: 16px;
}

h2::after {
  content: "";
  width: 80px;
  height: 4px;
  background-color: var(--color-primary);
  display: block;
  margin: 16px auto 0;

  border-radius: 9999px;
}

.about-text {
  max-width: 50ch;
  margin-left: 50px;
  font-size: 1.15rem;
  line-height: 1.625;

  /* font-weight: var(--font-normal); */
  color: var(--color-text-muted);
}

h3 {
  padding: 0px;
  margin: 0px;
}

.about-topic {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-item {
  list-style: none;
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-muted);
  border-radius: 12px;
  justify-self: center;
}

.about-icons {
  height: 25px;
  width: 25px;
  padding: 10px;
}

.about-icon-desc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon-title {
  font-weight: var(--font-semibold);
  color: var(--color-text);
}

.icon-description {
  font-size: 0.875rem;
  font-weight: var(--font-normal);
  color: var(--color-text-muted);
}
