.about {
  padding: 96px 24px;
  caret-color: transparent;
}

@media (min-width: 768px) {
  .about {
    padding: 96px 48px;
  }
}

.title-block {
  text-align: center;
  margin-bottom: 64px;
}

.title-block h2 {
  position: relative;
  font-size: 36px;
  font-weight: var(--font-bold);
  color: var(--color-text);
  margin-bottom: 16px;
  /* opacity: 0; */
  transform: translateY(30px);
}

@media (min-width: 768px) {
  .title-block h2 {
    font-size: 48px;
  }
}

.about-container {
  max-width: 1280px;
  margin: 0 auto;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  align-items: center;
}

@media (min-width: 768px) {
  .about-content {
    grid-template-columns: 1fr 1fr;
  }
}

.about-text {
  max-width: 50ch;
  margin-left: 50px;
  font-size: 1.15rem;
  line-height: 1.625;
  color: var(--color-text-muted);
  transform: translateX(-50px);
}

h3 {
  padding: 0px;
  margin: 0px;
}

.about-topic {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-item {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  border-radius: 16px;
  transform: translateX(50px);
}

.about-item:hover {
  background: rgba(236, 236, 240, 0.5);
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-muted);
  border-radius: 12px;
  justify-self: center;
  padding: 12px;
  /* flex-shrink: 0; */
}

.about-icons {
  height: 24px;
  width: 24px;
}

.icon-title {
  font-weight: var(--font-semibold);
  color: var(--color-text);
  font-size: 1rem;
}

.about-icon-desc {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  gap: 5px;
}

.icon-description {
  font-size: 0.875rem;
  font-weight: var(--font-normal);
  color: var(--color-text-muted);
}

.about-text,
.about-item {
  opacity: 0;
}
