@media (max-width: 768px) {
  button:hover {
    background: transparent !important;
  }
}
.nav-desktop {
  /* display: block; */
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  transition: top 300ms;
  caret-color: transparent;

  width: calc(100% - 48px);
  /* tela inteira menos 24px de respiro em cada lado */
}

.nav-desktop.scrolled {
  top: 10px;
}

/* pill container */

.nav-pill {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 8px 16px;
  border-radius: 9999px;
  border: 1px solid var(--color-border);
  backdrop-filter: blur(12px);
  background-color: var(--header-bg-top);
  transition: all 300ms;
  transform: translateY(-100px);

  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);

  width: 100%;
  justify-content: space-between;
}

.nav-desktop.scrolled .nav-pill {
  background: var(--header-bg-scrolled);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@media (min-width: 768px) {
  .nav-desktop {
    width: auto;
    max-width: none;
  }
  .nav-pill {
    width: auto;
    justify-content: center; /* ou o que já tinha antes, sem space-between */
  }
}

/* LOGO */

.nav-logo {
  font-size: 28px;
  font-weight: var(--font-bold);
  background: linear-gradient(to right, #22c55e, #16a34a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 200ms;
  padding: 12px;
}

@media (min-width: 768px) {
  .nav-logo {
    font-size: 24px;
  }
}

.nav-logo:hover {
  opacity: 0.8;
}

/* Nav links */

.nav-links {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 4px;
  min-width: 400px;
}

@media (min-width: 768px) {
  .nav-links {
    display: flex;
  }
}

.nav-link {
  padding: 8px 16px;
  border-radius: 9999px;
  border: none;
  background: transparent;
  font-size: 1rem;
  font-weight: var(--font-medium);
  cursor: pointer;
  transition: background 100ms;
  text-align: center;
}

/* Controls */

.nav-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: 16px;
  padding-left: 16px;
}

.nav-control {
  box-sizing: content-box;
  /* padding: 16px; */
}

@media (min-width: 768px) {
  .nav-controls {
    border-left: 1px solid var(--color-border);
  }
}

.icon {
  position: absolute;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.sun-icon {
  opacity: 0;
}

.moon-icon {
  opacity: 0;
}

[data-theme="light"] .sun-icon {
  opacity: 1;
}

[data-theme="dark"] .moon-icon {
  opacity: 1;
}

.btn-theme {
  padding: 12px;
  border-radius: 9999px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: background 200ms;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-theme svg {
  width: 25px;
  height: 25px;
  color: var(--color-text);
}

@media (min-width: 768px) {
  .btn-theme {
    padding: 8px;
  }
  .btn-theme svg {
    width: 20px;
    height: 20px;
  }
}

/* .nav-link:hover,
.btn-theme:hover,
.btn-language:hover {
  background-color: var(--color-muted);
} */

.btn-language {
  padding: 12px;
  border-radius: 9999px;
  border: none;
  background: transparent;
  font-size: 18px;
  font-weight: var(--font-semibold);
  cursor: pointer;
  color: var(--color-text-white);
  transition: background 200ms;
  color: var(--color-text);
  box-sizing: content-box;
  width: 36px;
  height: 36px;
}

@media (min-width: 768px) {
  .btn-language {
    font-size: 16px;
    padding: 4px;
  }
}

header a {
  font-size: 1rem;
  font-weight: var(--font-medium);
  color: var(--color-text);
  border-radius: 999px;
  padding: 8px 16px;
  list-style: none;
  text-decoration: none;
}

/* menu hamburger */

.btn-hb-container {
  display: flex;
  padding: 8px;
  /* background-color: red; */
}
.btn-hamburger {
  height: 36px;
  width: 36px;
  margin: 0;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
}

.btn-hamburger span {
  height: 2px;
  width: 24px;
  background-color: var(--color-text);
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.btn-hamburger span:nth-child(1) {
  top: 25%;
}
.btn-hamburger span:nth-child(3) {
  top: 75%;
}

.btn-hamburger.is-open span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.btn-hamburger.is-open span:nth-child(2) {
  opacity: 0;
}
.btn-hamburger.is-open span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

@media (min-width: 768px) {
  .btn-hamburger {
    display: none;
    padding: 8px;
  }
}

.nav-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  opacity: 0;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  z-index: 40;
  transition:
    opacity 300ms ease,
    visibility 300ms ease;
}

.nav-overlay.is-open {
  opacity: 1;
  visibility: visible;
}

.nav-overlay-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.nav-overlay-links a {
  text-decoration: none;
  font-size: 1.5rem;
  list-style: none;
  color: var(--color-text);
}

/* Quando alguém clicar no link ele fica verde, mobile */
.nav-overlay-links a:hover {
  transition: color 200ms;
  color: var(--color-primary);
}

.nav-overlay-links li {
  list-style: none;
}

/* Efeito Linha no hover */

.nav-links a {
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: 2px;
  height: 2px;
  background-color: var(--color-text);
  /* transition:
    width 0.3s ease,
    left 0.3s ease; */
  left: 0;
  width: 100%;
  transition: transform 0.3s ease;
  transform: scaleX(0);
}

.nav-links a:hover::after {
  transform: scaleX(0.5);
}
