body {
  min-height: 200vh;
}

#logo {
  font-size: 1.5rem;
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-hover)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  background-color: var(--header-bg-top);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  width: 600px;
  height: 75px;
  margin: 20px auto;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 9999px;
  backdrop-filter: blur(12px);
}

a {
  list-style: none;
  text-decoration: none;
}
header a {
  color: black;
  padding: 8px 16px;
  font-size: 1.25rem;
}
.navigation a {
  list-style: none;
  color: black;
  text-decoration: none;
  padding: 8px 16px;
}
.utilities {
  padding-right: 20px;
}
.utilities a {
  font-size:;
}
#logo {
  padding-left: 40px;
}

a:hover {
  color: blue;
}

.scrolled {
  background: var(--header-bg-scrolled);
}
