body {
  min-height: 200vh;
}

#logo {
  font-size: 1.5rem;
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-hover)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  background-color: var(--header-bg-top);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  width: 600px;
  height: 75px;
  margin: 20px auto;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 9999px;
  backdrop-filter: blur(12px);
}

a {
  list-style: none;
  text-decoration: none;
}
header a {
  color: var(--color-text);
  font-size: 1.25rem;
  border-radius: 999px;
}

.navigation a {
  color: var(--color-text);
  padding: 8px 16px;
}

.utilities .text-btn {
  padding: 8px 16px;
}

.svg-btn {
  padding: 8px;
  width: 20px;
  height: 20px;
}

.utilities a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.utilities {
  display: flex;
  border-left: 2px solid rgb(236, 236, 240, 0.8);
  /* margin-right: 2rem; */
  padding: 0px 2rem 0px 1rem;
  gap: 0.5rem;
}

.svg:first-child {
  margin-right: 51px;
}
#logo {
  padding-left: 40px;
}

header a:hover {
  background-color: var(--color-muted);
}

.scrolled {
  background: var(--header-bg-scrolled);
}

#translate-button {
  font-size: 1rem;
  font-weight: 600;
}

.svg-btn img {
  width: 20px;
  height: 20px;
}
