.skills {
  padding: 96px 24px;
  background-color: var(--color-muted-30);
  caret-color: transparent;
}

@media (min-width: 768px) {
  .skills {
    padding: 96px 48px;
  }
}

.skills-container {
  max-width: 1280px;
  margin: 0 auto;
}

/* Definido primeiro o valor para mobile */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

@media (min-width: 640px) {
  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .skills-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

.skill-card {
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 1rem;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  opacity: 0;
}

.skill-card:hover {
  border-color: var(--color-primary-border-hover);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05);
}

.skill-icon {
  height: 36px;
  width: 36px;
}

.skill-name {
  font-size: 0.875rem;
  font-weight: var(--font-semibold);
  text-align: center;
}
